.container {
    border: solid 2px gray;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.item{
    width: 20%;
    margin: 1px;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}
.contact {
    background-color: white;
    position: relative;
    margin-top: 200px;
}
body{
    background-color: rgb(224, 165, 252);
    text-align: center;
}
.header{
    text-align: center;
    background-color:rgb(224, 165, 252);
    color: rgba(132, 0, 255, 0.308);
    border: solid; border-width: .9;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 1px 1px 10px 10px rgb(255, 255, 255);
    font-family: cursive;
}
h4 {
    justify-content: center;
}
.cups {
    align-items: center;
    height: 100px;
    margin: 20px;
    padding: 20px;
}
.cupsf {
    background-image: url(file:///Users/nestorvega/Desktop/creators_dream/IMG_7147.jpg);
    margin: 20px;
    box-shadow: 10px 10px 10px 10px rgb(78, 78, 78);
}

.cupstext {
    border: solid 2px;
    width: auto;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(224, 165, 252);
    justify-content: center;
}



.shirts {
    align-items: center;
    height: 100px;
    margin: 20px;
    padding: 20px;
}
.shirtsf {
    background-image: url(file:///Users/nestorvega/Desktop/creators_dream/pokeimg.jpeg);
    margin: 20px;
    box-shadow: 10px 10px 10px 10px rgb(78, 78, 78);
}

.shirtstext {
    border: solid 2px;
    width: auto;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(224, 165, 252);
    justify-content: center;
}

.anime {
    align-items: center;
    height: 100px;
    margin: 20px;
    padding: 20px;
}
.animef {
    background-image: url(file:///Users/nestorvega/Desktop/creators_dream/anime.jpg);
    margin: 20px;
    box-shadow: 10px 10px 10px 10px rgb(78, 78, 78);
}

.animetext {
    border: solid 2px;
    width: auto;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(224, 165, 252);
    justify-content: center;
}

.mug {
    align-items: center;
    height: 100px;
    margin: 20px;
    padding: 20px;
}
.mugf {
    background-image: url(file:///Users/nestorvega/Desktop/creators_dream/mug.jpg);
    margin: 20px;
    box-shadow: 10px 10px 10px 10px rgb(78, 78, 78);
}

.mugtext {
    border: solid 2px;
    width: auto;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(224, 165, 252);
    justify-content: center;
}

.scent {
    align-items: center;
    height: 100px;
    margin: 20px;
    padding: 20px;
}
.scentf {
    background-image: url(file:///Users/nestorvega/Desktop/creators_dream/scent.jpg);
    margin: 20px;
    box-shadow: 10px 10px 10px 10px rgb(78, 78, 78);
}

.scenttext {
    border: solid 2px;
    width: auto;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(224, 165, 252);
    justify-content: center;
}
