h1{
    text-align: center;
    background: linear-gradient(150deg, orange, rgb(255, 0, 255), orange,
    red);
    color: peachpuff;
    font-family: cursive;
}
body {
    background: black;
    background-repeat: no-repeat;
    text-align: center;
}

.button {
    margin: 50px;
    display: inline-block;
}

.cup {
    width: 180px;
    height: 35px;
    text-justify: auto;
    border: solid;
    border-color: rgba(59, 59, 59, 0.315);
    background-color: rgb(255, 235, 205);
    border-radius: 25px 25px 25px 25px;
    size: 25px;
    height: 290px;
}
.poke {
    width: 180px;
    height: 35px;
    text-justify: auto;
    border: solid;
    border-color: rgba(59, 59, 59, 0.315);
    background-color: rgb(255, 235, 205);
    border-radius: 25px 25px 25px 25px;
    size: 25px;
    height: 290px;
}
.sell{
    display: flex;
}

.contact {
    background-color: white;
}
