.container {
    border: solid 2px gray;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.item{
    width: 20%;
    margin: 1px;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}
.contact {
    background-color: white;
    position: relative;
    margin-top: 200px;
}
body{
    background-color: black;
    text-align: center;
}
h1{
    text-align: center;
    background: linear-gradient(150deg, orange, rgb(255, 0, 255), orange,
    red);
    color: peachpuff;
    font-family: cursive;
}
h4 {
    justify-content: center;
}